<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Teachly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  <!--Vue3 script tag-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <!--connecting html to vue-->
  <div id="app">
    <div class="header">
      <img src="logo.png" alt="Teachly logo" class="logo">
      <h1>{{site}}</h1>
    </div>

    <!--nav bar with drop down for sorting-->
    <div class="nav">
      <div class="dropdown">
        <button class="dropBtn">Sort By
          <i class="fa-solid fa-sort-down"></i>
        </button>
        <div class="dropContent">

          <a href="#" @click="sortBy = 'priceAsc'">Lowest Price </a>
          <a href="#" @click="sortBy ='priceDes'">Highest Price</a>
          <a href="#" @click="sortBy = 'availabilityAsc'">Least Availability</a>
          <a href="#" @click="sortBy = 'availabilityDes'">Most Avaliability</a>
          <a href="#" @click="sortBy = 'titleAsc'">Subjects (A-Z)</a>
          <a href="#" @click="sortBy = 'titleDesc'">Subjects (Z-A)</a>
          <a href="#" @click="sortBy = 'locationAsc'">Location(A-Z)</a>
          <a href="#" @click="sortBy = 'locationDes'">Location (Z-A)</a>

        </div>
      </div>
      <!--Search bar-->
      <input class="searchBar" type="text" placeholder="Search.." v-model="searchText" @input="fetchData">
      
      <div class="checkoutBtn">
        <!--not enabled till something is in cart-->
        <button v-on:click="goToCheckout" :disabled="cart.length === 0 && showLessons">
          <i class="fa-solid fa-cart-shopping"></i>
          <span v-if="showLessons">Check out ({{ cart.length }})</span>
          <span v-else>Back to lessons</span>
        </button>
      </div>
      <!--if button has 0 items and if its on lesson page it will be disabled-->
      <!--similiar to event listener which runs whatever function-->
    </div>

    <main>
      <!--lessons page visible if showlessons is true-->
      <div v-if="showLessons" class="lessonWrap">
        <div v-for="lesson in sortedLessons" :key="lesson.id" class="lessonBox">

          <div class="headtwo">
            <h2>{{lesson.title}}</h2>
          </div>
          <!--connecting my images-->
          <img :src="`https://express-backend-0l2f.onrender.com${lesson.image}`" :alt="lesson.title" width="350" height="300">
          <p>Availability: {{lesson.availability}}</p>
          <p>Location: {{lesson.location}}</p>
          <p>Price: £{{lesson.price}}</p> <!--better syntax practice than 'vtext'-->

          <!--ADD TO CART BUTTONS linked to addToCart-->
          <!--disabled when it is 0-->
          <button class="addBtn" @click="addToCart(lesson)" :disabled="lesson.availability===0">
            + 1 </button>

          <button class="minusBtn" @click="removeFromCart(lesson)">
            - 1 </button>

        </div>
      </div>

      <!--CHECKOUT PAGE visible when showLessons = false-->
      <div v-else>
        <div class="checkoutWrap">
          <div class="cartDisplay">

            <p> Items in cart:{{cartItemAmount}}</p>
            <p>Lessons in cart:</p>

            <!-- displays lessons, id to keep track-->
            <div v-for="(lesson, index) in cart" :key="lesson.id">
              {{ lesson.title}} £{{ lesson.price }} </div>
          </div>

          <!--user enter details-->
          <div class="checkoutInfo">
            <input v-model="firstName" placeholder="Enter your first name">
            <input v-model="lastName" placeholder=" Enter your last name">
            <input v-model="phoneNumber" placeholder="Enter your phone number">

            <!--computed-->
            <p>{{ fullName }}</p>
            <p> {{ phoneNumber }}</p>

            <!--DISBALED BUTTONS if form is valid then user can checkout-->
            <button @click="checkoutInfo" :disabled="isFormValid()">
              Check out
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="app.js"></script>
</body>

</html>